extends layout.pug

block content
    //- Page Title 
    h1 Capital Cities Data

        //- Search Form
        form(action='/capitals' method='get')
            input#searchInput(type='text' name='capitalName' placeholder='Search capitals...')
            //- button(type='submit') Search

    //- Capital Cities Header
    table
        thead
            tr  
                th Sl/No
                th Name
                th Country
                th Population

        //- Capital Cities Table Data
        tbody
            //- Loop through capitals
            each capital, index in capitals
                tr
                    td= index + 1
                    td= capital.Name
                    td= capital.CountryName
                    td= capital.Population.toLocaleString()
