extends layout.pug

block content
    header
        // - Photo credit to Martin Adams: https://unsplash.com/photos/landscape-photo-of-city-buildings-during-dusk-pTCcJSBOTxY
        img(src='/header.jpg', alt='Header Image') 
        h2 From Cities to Continents
        h3 Every Number has a 
            span.blinking-word Story

    h4 How it works
    p.introduction Whether for academic research or personal interest, our platform serves as an invaluable resource for anyone interested in global population data.
    .how-it-works-container
        .screenshot
            img(src='/country.png', alt='Country Data Screenshot')
        .description
            .icon-header-container
                i.fa-solid.fa-earth-americas
                h5 Ready for Researchers and Enthusiasts
            p Access well-structured reports featuring essential country data, allowing you to understand population sizes, capital cities, and more, sorted in a user-friendly format.
    .gradient-line
    
    .how-it-works-container
        .description
            .icon-header-container
                i.fa-solid.fa-city
                h5 Instant Insights
            p Ideal for quick reference and comparison, this feature serves as a powerful tool for educators, researchers, and curious minds alike.
        .screenshot
            img(src='/city.png', alt='City Data Screenshot')
    .gradient-line

    .how-it-works-container
        .screenshot
            img(src='/capital.png', alt='Capital Data Screenshot')
        .description
            .icon-header-container
                i.fa-solid.fa-university
                h5 Visualise Urban Magnitude
            p Understand the scale of urban magnitude with population figures that bring to light the size of capital cities. Our page doesn’t just list numbers; it helps you visualise the masses that define the urban landscapes of nations.
    .gradient-line

    .how-it-works-container
        .description
            .icon-header-container
                i.fa-solid.fa-users
                h5 World's Population
            p Access continent-specific metrics that highlight total populations alongside urban and rural distributions. These figures are vital for anyone studying regional development, planning resource distribution, or analysing market potentials.
        .screenshot
            img(src='/population.png', alt='Population Data Screenshot')
    .gradient-line

    .how-it-works-container
        .screenshot
            img(src='/language.png', alt='Language Data Screenshot')
        .description
            .icon-header-container
                i.fa-solid.fa-language
                h5 Linguistic Landscape
            p Track the trends in global communication with up-to-date statistics on language speakers. From Chinese to Arabic, see how languages rank in terms of their reach and influence.
    .gradient-line

    p.introduction We are bridging the gap between data and knowledge – because every figure in our statistics represents a human story.