extends layout.pug

block content
    //- Page Title
    h1 Language Data

        //- Search Form
        //-form(action='/languages' method='get')
            //-input#searchInput(type='text' name='searchLanguage' placeholder='Search languages...')
            //-button(type='submit') Search

    //- Language Table Header
    table
        thead
            tr
                th S/N
                th Language
                th Number of Speakers
                th Percentage of World Population

        //- Language Table Data
        tbody
            //- Loop through languages
            each language, index in languages
                tr
                    td= index + 1
                    td= language.Language
                    td= language.Speakers.toLocaleString()
                    td= language.Percentage.toFixed(2) + '%'
