header
    //- Navbar styled with from style.css file
    nav.navbar
        .navbar-left
            //- Navbar Home link
            a(href="/") Home
        .navbar-center
            //- Navbar other links
            ul
                li
                    a(href="/countries") Country
                li
                    a(href="/cities") City
                li
                    a(href="/capitals") Capital
                li
                    a(href="/populations") Population
                li
                    a(href="/language") Language
        //- Navbar login and get started links
        .navbar-right
            a(href="#login") Log in
            a(href="#get-started" class="button") Get Started
