extends layout.pug

block content
    //- Page Title
    h1 Population Report

        //- Search Form
        //- form(action='/populations' method='get')
        //-     input#searchInput(type='text' name='continent' placeholder='Search by continent...')
            //-button(type='submit') Search

    //- Population Report Table Header
    table
        thead
            tr
                th Continent
                th Total Population
                th Population Living in Cities
                th Population Not Living in Cities

        //- Population Report Table Data
        tbody
            //- Loop through population reports
            each report, index in reports
                tr
                    td= report.Continent
                    td= report.TotalPopulation.toLocaleString()
                    td= report.CityPopulation.toLocaleString()
                    td= report.NonCityPopulation.toLocaleString()
