extends ../layouts/layout.pug

block content
    //- Delete City Page
    body.register-bg
        p.introduction(style="margin-top: 18rem;") Remove City
        
        //- Delete City Form
        form(action="/delete-city", method="POST").contact-form-container
        
            label(for="cityName") City Name
            input(type="text", name="cityName", required=true)

            label(for="countryCode") Country Code
            input(type="text", name="countryCode", required=true)

            //- Display error messages
            if messages && messages.error
                .alert.alert-danger= messages.error

            .button-container
                button(type="submit").btn.btn-danger Delete

            //- Skip this step link and redirect to the Delete Country page
            .link-container
                a(href="/admin/delete-country-form").btn-link Skip this step
